---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Personal Portfolio";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img src="/images/space.webp" role="presentation" width="300" height="259" decoding="async">
    </div>
    <h1>Milky-Way</h1>
    <span class="badge">Game Designer/Developer</span>
    <h2>About</h2>
    <p>
        I'm Finn, a game designer and developer from Melbourne, Australia. 
        Me money. Give money me now. It is the right idea, so do.
    </p>
    <p>
        I am actively seeking opportunities to apply my existing skills and strong work ethic in ambitious 
        game development projects. To do this, I will need a job.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="C++" src="https://raw.githubusercontent.com/devicons/devicon/54cfe13ac10eaa1ef817a343ab0a9437eb3c2e08/icons/cplusplus/cplusplus-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="C#" src="https://raw.githubusercontent.com/devicons/devicon/refs/tags/v2.17.0/icons/csharp/csharp-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Unreal Engine" src="https://raw.githubusercontent.com/devicons/devicon/refs/tags/v2.17.0/icons/unrealengine/unrealengine-original-wordmark.svg"/>
        <img class="skills__img" width="46" height="46" alt="Unity Engine" src="https://raw.githubusercontent.com/devicons/devicon/refs/tags/v2.17.0/icons/unity/unity-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Blender" src="https://raw.githubusercontent.com/devicons/devicon/refs/tags/v2.17.0/icons/blender/blender-original.svg"/>
        
    </div>
    <h2>Interests</h2>
    <p>
        I am interested in game development, particularly game design and game logic programming.
        I have recently begun exploring graphics programming to better understand the process of rendering
        
    </p>
</Layout>

